
                                <form #bookingForm="ngForm">
                                    <div class="form-group">
                                        <img src="/assets/img/icons/guest.png">
                                        <br>
                                        <input [(ngModel)]="newBooking.guests" class="guest" type="number" class="form-control" id="guests" placeholder=" عدد الزوار  " required name="guests">
                                    </div>
                                    <div class="form-group">
                                        <img src="/assets/img/icons/calendar.png">
                                        <input class="date" type="text" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event, daterange)">
                                    </div>
                                 
                                    <button 
                                    [disabled]='!bookingForm.form.valid || !newBooking.startDate || !newBooking.endDate'
                                    (click)="openConfirmModel(content)" type="submit" class="btn south-btn"> احجز الان  </button>
                                </form>


                               <ng-template #content let-modal>
                                <div class="modal-header">
                                  <h4 class="modal-title" id="modal-basic-title">Booking Now!</h4>
                                  <p>{{newBooking.startDate}} to {{newBooking.endDate}}</p>
                                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <em>{{newBooking.days}}</em>  الايام 
                                  <hr>
                                  <em>{{rental.dailyRate}}</em> / ليله
                                  <hr>
                                  <p>الزوار  :<em> {{newBooking.guests}}</em></p>
                                  <hr>
                                  <p>السعر  :<em> {{newBooking.totalPrice}} جنيه </em></p>
                                  <hr>
                                  <app-payment (paymentConfirmed)='onPaymentConfirmed($event)'></app-payment>
                                  <hr>
                                  <p>  هل تريد تاكيد الحجز   </p>
                                </div>
                                
                                 <div *ngIf="errors.length > 0" class="alert alert-danger">
                                  <p *ngFor="let error of errors">
                                    {{error.detail}}
                                  </p>
                                </div>

                                <div class="modal-footer">
                                  <button type="button" class="btn btn-outline-dark" (click)="createBooking()" [disabled]="!newBooking.token"  > تاكيد  </button>
                                  <button type="button" class="btn btn-outline-dark" (click)="close()">رفض  </button>

                                </div>
                              </ng-template>

           